<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
            </p>
                <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list_detail in todo_list_detail.items.all %}
                    <tr>
                        <td> <a href="{% url 'todo_item_update' list_detail.id %}">{{ list_detail.task }}</a> </td>
                        <td> {{ list_detail.due_date|date:"M j, Y" }}</td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
